.env
__pycache__
.ipynb_checkpoints
.pytest_cache
.DS_Store
.vscode/

build/
dist/
data
*.egg-info
*.so
*.c
*.csv

tmp
personal_experiment
.idea
outputs
scripts
data

experiments/

#test_*

/?*ROADMAP*
