# @package _group_
- name: MultiLoss
  weight: 1.0
  kwargs:
    weights: [1.0, 0.1, 0.1, 0.1]
    criterion:
      - - name: CalibrationLoss
          weight: 1.0
          kwargs:
            pos_margin: 0.9
            neg_margin: 0.6

        - name: SupAP
          weight: 1.0
          kwargs:
            tau: 0.01
            rho: 100.0
            offset: 1.44
            delta: 0.05

      - - name: CalibrationLoss
          weight: 1.0
          kwargs:
            pos_margin: 0.9
            neg_margin: 0.6

        - name: SupAP
          weight: 1.0
          kwargs:
            tau: 0.01
            rho: 100.0
            offset: 1.44
            delta: 0.05
      - - name: CalibrationLoss
          weight: 1.0
          kwargs:
            pos_margin: 0.9
            neg_margin: 0.6

        - name: SupAP
          weight: 1.0
          kwargs:
            tau: 0.01
            rho: 100.0
            offset: 1.44
            delta: 0.05
      - - name: CalibrationLoss
          weight: 1.0
          kwargs:
            pos_margin: 0.9
            neg_margin: 0.6

        - name: SupAP
          weight: 1.0
          kwargs:
            tau: 0.01
            rho: 100.0
            offset: 1.44
            delta: 0.05